<!DOCTYPE html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../css/comic.css">
</head>

<body>
    <h1>XKCD Comic Viewer</h1>
    <!-- <template> -->
    <div id="comic_container">
        <div class="row">
            <button id="previous">Previous</button>
            <button id="random">Random</button>
            <button id="next">Next</button>
        </div>
        <p class="metadata_text" id="title">title</h5>
        <p class="metadata_text" id="number">comic_number</p>
        <img id="strip" src="https://imgs.xkcd.com/comics/product_launch.png" alt="comic_name" />
        <p class="metadata_text" id="date">date</p>
        <p class="metadata_text" id="counter">5 views</p>
    </div>
    <!-- </template> -->

    <footer>
        <p>Stratus360 Coding Case Study</p>
        <p>Created by <strong>Yathavan Parameshwaran</strong> on June 9, 2021</p>
    </footer>

    <script src="../build.js"></script>
</body>

</html>